

/* LANDING PAGE */
/* navigation bar */

#header{
    
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0.1em;
    left: 0;

    
}

.navbar ul{

    text-align: right !important;
    align-items: right !important;

}

.navbar ul li{

    list-style: none;
    display: inline-block;

}

.navbar ul{

    text-align: left;
    position: absolute;
    top: 0em;
    left: 9.15em;

}

.navbar ul li{

    list-style: none;
    display: inline-block;

}

.navbar ul li a{

    display: block;
    text-decoration: none;
    text-transform: none;
    color: #CEA380;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 20px;
    transition: all ease 0.5s;

}

.navbar ul li a:hover{

    color: #7b5536;
   
}

/* welcome message */

.well{
    position: absolute;
    top: 2em;
    left: 2em;
    width: 10em;
    color: #879c69;
    font-family: 'Cantora One', sans-serif;
    letter-spacing: 1px;
    font-size: 60px;
    line-height: 1.1em;
    font-weight: 400;
    
}

span{
    color: #fbc951;
}

.akantext{
    position: absolute;
    top: 13.1em;
    left: 6.1em;
    width: 25.5em;
    color: #879c69;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 1.2em;
    font-weight: 600;
}

.gen{
    position: absolute;
    top: 32.5em;
    border-radius: 10px;
    left: 8em;
    display: block;
    text-decoration: none;
    text-transform: none;
    color: #fbc951;
    background-color: #7b5536;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    padding: 10px;
    transition: all ease 0.5s;
}

.gen:hover{
    color: #879c69;
}
