body{
    background-color: rgba(241, 245, 243, 0.961);
}

/* LANDING PAGE */
/* navigation bar */

#header{
    
    position: absolute;
    height: 98.5vh;
    width: 98.9vw;
    top: 0.1em;
    left: 0;

    
}

.navbar ul{

    text-align: right !important;
    align-items: right !important;

}

.navbar ul li{

    list-style: none;
    display: inline-block;

}

.navbar ul{

    text-align: left;
    position: absolute;
    top: 0em;
    left: 9.5em;

}

.navbar ul li{

    list-style: none;
    display: inline-block;

}

.navbar ul li a{

    display: block;
    background-color: #879C69;
    border-radius: 5px;
    text-decoration: none;
    text-transform: none;
    color: #fbc951;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 20px;
    transition: all ease 0.5s;

}

.navbar ul li a:hover{

    color: #fff;
   
}

/* welcome message */

.well{
    position: absolute;
    top: 2em;
    left: 2em;
    width: 10em;
    color: #268869;
    font-family: 'Cantora One', sans-serif;
    letter-spacing: 1px;
    font-size: 60px;
    line-height: 1.1em;
    font-weight: 400;
    
}

span{
    color: #fbc951;
}

.akantext{
    position: absolute;
    top: 13.1em;
    left: 6.1em;
    width: 25.5em;
    color: #879c69;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 1.2em;
    font-weight: 600;
}

.gen{
    position: absolute;
    top: 32.5em;
    border-radius: 10px;
    left: 8em;
    display: block;
    text-decoration: none;
    text-transform: none;
    color: #fff;
    background-color: #268869;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    padding: 10px;
    transition: all ease 0.5s;
}

.gen:hover{
    color: #879c69;
}

/* hero image */

.hero{
    position: absolute;
    top: 1.7em;
    right: 1.7em;

}

/* footer */

.footer{
    background-color: #879c69;
    width: 98.9vw;
    height: 10vh;
    position: absolute;
    bottom: 0em;
    left: 0.1em;
}

.ftext{
    position: absolute;
    bottom: 0em;
    left: 19em;
    color: #fff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
}

/* CONTACT PAGE */

/* feedback form */

.logo{
    position: absolute;
    top: 0.2em;
    left: 5em;
    color: #879c69;
    font-family: 'Cantora One', sans-serif;
    letter-spacing: 1px;
    font-size: 40px;
    font-weight: 600; 
}

.talk{
    position: absolute;
    top: 0em;
    color: #879c69;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-size: 40px;

    font-weight: 600;
}


.feedform{
    width: 30%;
    position: absolute;
    top: 8.5em;
    right: 18em;

}

/* Bordered form */
form {
    border: none;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 30em;
    height: 2.5em;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #71a894;
    box-sizing: border-box;
    font-weight: 300;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #268869;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  

  
  /* Add padding to containers */
  .container {
    padding: 16px;
    
  }
  
  /* The "type message" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }

  }

  /* hero image for contacts */

  .hero2{
    position: absolute;
    top: 9em;
    left: 8em;
    width: 15%;
    height: 15%;
  }

  